<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="/public/img/roocket.ico">
    <meta name="csrf-token" content="pebj4HTdLE0gsgu1MvDUWjTaNVyn2b5YXLAaHNI2">
    <link rel="alternate" type="application/rss+xml" title="فید خوان مقالات - راکت" href="/feed/articles" />
    <link rel="alternate" type="application/rss+xml" title="فید خوان ویدیوها - راکت" href="/feed/episodes" />
    <title>اعلانات جدید</title>
<link rel="canonical" href="https://roocket.ir/profile/notification/new"/>
<meta property="og:title" content="اعلانات جدید" />
<meta property="og:url" content="https://roocket.ir/profile/notification/new" />
<meta property="og:site_name" content="مجله آموزشی راکت" />
<meta property="og:brand" content="راکت" />
<meta property="og:locale" content="fa" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@roocketir" />
<meta name="twitter:title" content="اعلانات جدید" />

        <link rel="stylesheet" href="/Css/panel.css">
    <link rel="stylesheet" href="/Css/font-awesome.min.css">
        <meta name="ROBOTS" content="NOINDEX , NOFOLLOW">

    <script type="application/ld+json">{"@context": "http://schema.org","@type": "WebSite","url": "https://roocket.ir/","name":"راکت مجله آموزش طراحی و برنامه نویسی","potentialAction": {"@type": "SearchAction","target": "http://roocket.ir/search?search={search_term_string}","query-input": "required name=search_term_string"}}</script>
    <script type="application/ld+json">{"@context": "http://schema.org","@type": "Organization","email": "info[at]roocket.ir","name": "roocket.ir","telephone": "09381329963","sameAs" : ["https://www.instagram.com/roocketir/"]}</script>
</head>
<body>
<div class="wrapper" id="app">
    <header class="header_section">
    <div class="nav">

                                                        <header-message-box msg="اکانت خود را به اعضای ویژه ارتقاء دهید" linkto="/user/panel/vip"></header-message-box>
                                    
        <div class="header_top_menu">
            <div class="container">
                <ul>
                    <li><a href="/skills-chart">چارت مهارت</a></li>
                    
                    <li><a href="https://t.me/roocket_ir" rel="nofollow">کانال تلگرام</a></li>
                </ul>
                <ul>
                    <li><a href="/about-us">درباره راکت</a></li>
                    <li><a href="/contact-us">ارتباط با ما</a></li>
                </ul>
            </div>
        </div>

        <nav class="nav_section container">
                            <h3 class="title"><a href="/">مجله آموزشی <span>راکت</span></a></h3>
                        
            <search></search>

            <div class="header_action">
                                    
                    

                    <div class="user_menu_panel">
                        <div class="box_info">
                                                        <div class="image">
                                <img src="https://www.gravatar.com/avatar/90995d00f66fba137323ae5034c462c7?s=50&amp;d=mm&amp;r=g" alt="description">
                            </div>
                        </div>
                        <span>پروفایل من</span>
                        <i aria-hidden="true" class="fa fa-angle-down"></i>
                        <div class="dropdown-menu">
                            <ul class="submenu">
                                <li class="submenu-item">
                                    <span class="fa fa-user"></span>
                                    <a href="/user/panel">ناحیه کاربری</a>
                                </li>
                                <li class="submenu-item">
                                    <span class="fa fa-user"></span>
                                    <a href="/@iamintaheri/friends">مشاهده پروفایل</a>
                                </li>
                                <li class="submenu-item">
                                    <div class="submenu-item__right">
                                        <span class="fa fa-bullhorn"></span>
                                        <a href="https://roocket.ir/profile/notification/new">اعلانات</a>
                                    </div>
                                                                    </li>
                                <li class="submenu-item">
                                    <span class="fa fa-comments"></span>
                                    <a href="/discuss?type=mydiscuss">گفتگوهای من</a>
                                </li>
                                <li class="submenu-item">
                                    <span class="fa fa-hourglass-1"></span>
                                    <a href="/user/panel/vip">افزایش اعتبار vip</a>
                                </li>
                                <li class="submenu-item">
                                    <span class="fa fa-sign-out"></span>
                                    <a href="/logout">خروج</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                            </div>
            <div class="hamburger_menu">
                <i class="fa fa-bars" id="hamburger_menu" ref="hamburgerMenu" @click="hamburgerMenu($event)" aria-hidden="true"></i>
            </div>
        </nav>
    </div>



    <div class="header_menu_toggle container" id="header_menu_toggle" ref="header_menu_toggle">
        <ul>
            <li class="no-action">
                <form class="search_box" action="/search">
                    <input type="text" name="search" placeholder="دنبال چی میگردی ؟">
                </form>
            </li>
            <li><a href="/">صفحه اصلی</a></li>
                            <li><a href="https://roocket.ir/user/panel">پنل کاربری</a></li>
        <li><a href="".{{auth.user.email}}>مشاهده پروفایل</a></li>
                <li><a href="/logout">خروج</a></li>
                        <li><a href="/discuss">بحث و گفتگو ها</a></li>
            <li><a href="/series">دوره های آموزشی</a></li>
            <li><a href="/lessons">آخرین ویدیوها</a></li>
            <li><a href="/articles">مقالات</a></li>
            <li><a href="/podcast">راکت‌کست</a></li>
            <li><a href="https://t.me/roocket_ir" rel="nofollow">کانال تلگرام</a></li>
            <li><a href="/contact-us">ارتباط با ما</a></li>
        </ul>
    </div>

    <div class="header_menu">
        <ul class="container">
            <li><a href="/">صفحه اصلی</a></li>
            <li><a href="/discuss">بحث و گفتگو ها</a></li>
            <li class="has-submenu">
                <a href="#">دوره های آموزشی</a>
                <ul class="submenu">
                    <li class="submenu-item">
                        <span class="icon"></span>
                        <a href="/series">همه دوره‌ها</a></li>
                    <li class="submenu-item">
                        <span class="icon"></span>
                        <a href="/lessons">آخرین ویدیوها</a>
                    </li>
                    
                        
                        
                    
                </ul>
            </li>
            <li><a href="/articles">مقالات</a></li>
            <li><a href="/podcast">راکت‌کست</a></li>
        </ul>
    </div>
    

</header>
    
    <header class="header_section user-profile-section">
        <div class="header_discuss-bg reply">
            <div class="header_main container">
                <user-avatar img="https://www.gravatar.com/avatar/90995d00f66fba137323ae5034c462c7?s=200&amp;d=mm&amp;r=g" online="1" profile="/@iamintaheri/friends" ></user-avatar>
                <div class="details-discuss user-profile">
                <h1 class="title">{{ auth.user.username }}</h1>
                    <div class="details-list">
                        <div class="username"><a href="/@iamintaheri/friends" data-english>{{ auth.user.email }}</a></div>
                    </div>
                </div>
            </div>
            <div class="profile-navbar">
                <div class="container">
                    <ul class="profile-navbar--items list">
                                                                            <li class="profile-navbar--item"><a class="" href="/@iamintaheri/friends">گفتگوهای دوستان</a></li>
                            <li class="profile-navbar--item"><a class="" href="https://roocket.ir/profile/notification/new">اعلانات شما</a></li>
                                                                        <li class="profile-navbar--item"><a class="" href="/@iamintaheri">گفتگوها و پاسخ‌ها</a></li>
                        <li class="profile-navbar--item"><a class="" href="/@iamintaheri/followers">دنبال کننده ها</a></li>
                        <li class="profile-navbar--item"><a class="" href="/@iamintaheri/following">دنبال شونده ها</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="co-padding">
        <div class="subject container">
            <div class="subject_main discuss-main reply-main user">
                <div class="subject_sidebar">
                    <div class="user-box">
    <div class="user-info">
        <div class="titles">
            <span>تاریخ عضویت</span>
                            <span>آخرین فعالیت کاربر</span>
                        <span>تعداد گفتگوها</span>
            <span>تعداد پاسخ‌ها</span>
        </div>

        <div class="info">
            <span>4 ماه پیش</span>
                            <span>0 ثانیه پیش</span>
                        <span>0</span>
            <span>0</span>
        </div>
    </div>
    <div class="follow">
                                    <a href="/user/panel/change" class="follow">ویرایش پروفایل</a>
                    
            </div>
    <div class="follower-count">
        <div class="right">
            <span class="count">0</span>
            <span class="title">دنبال کننده</span>
        </div>
        <div class="left">
            <span class="count">0</span>
            <span class="title">دنبال شونده</span>
        </div>
    </div>
                        <div class="social-account">
                                                                                                                                                                                                </div>

            <div class="cv">
        <a href="#"> مشاهده رزومه <small>( بزودی )</small></a>
    </div>
</div>                </div>
                <div class="subject_content">
                    <div class="box-content">
        <h3 class="title">اعلانات جدید</h3>
        <div class="content-body">
            <div class="main">
                <div class="alert alert-info">
                    <p>سیستم اعلانات راکت به شما کمک میکنند تا از بخشی از فعالیت های خود و دیگران در راکت به سرعت اطلاع کسب کنید .</p>
                </div>
                                    <div class="notifications-user">
                                                    
                            <div class="notification-item">
                                <div class="notification-item__right">
                                    <div class="circle-icon red">
    <i class="fa fa-shield"></i>
</div>                                </div>
                                <div class="notification-item__left">
                                    <p>
                                        <span class="time">دوشنبه ۹۷/۱۱/۰۸ ۰۰:۴۳:۵۵</span> - گزارش ورود به سیستم با آدرس آی پی 162.223.94.90 ثبت شده است. در صورتی که فکر میکنید این کار توسط شما انجام نشده هر چه سریع تر با مدیریت راکت تماس بگیرید.
                                    </p>
                                </div>
                            </div>
                                            </div>
                
                <div class="all-notification">
                    <a href="https://roocket.ir/profile/notification">مشاهده اعلانات خوانده شده</a>
                </div>

                
                
                
            </div>
        </div>
    </div>
                </div>
            </div>
        </div>
    </div>


    <notifications  classes="notification-style" position="bottom right" group="notify" />
</div>

<footer class="footer">
    <div class="container">
        <div class="footer-top">
            <div class="about_us">
                <h4 class="title">درباره راکت</h4>
                <p class="body">راکت یکی از پرتلاش‌ترین و بروزترین وبسایت های آموزشی در سطح ایران است که همیشه تلاش کرده تا بتواند جدیدترین و بروزترین مقالات و دوره‌های آموزشی را در اختیار علاقه‌مندان ایرانی قرار دهد. تبدیل کردن برنامه نویسان ایرانی به بهترین برنامه نویسان جهان هدف ماست </p>
            </div>
            <div class="roocket_section">
                <h4 class="title">بخش های سایت</h4>
                <ul class="body">
                    
                    
                    
                    <li><a href="/series">دوره‌های آموزشی</a></li>
                    <li><a href="/lessons">آخرین ویدیو‌ها</a></li>
                    <li><a href="/discuss">بحث و گفتگو</a></li>
                    <li><a href="/contact-us">ارتباط با ما</a></li>
                </ul>
            </div>
            <div class="contact_us">
                <h4 class="title">ارتباط با ما</h4>
                <div class="group">
                    <div class="body">
                        <p class="description">شما میتوانید با استفاده از یکی از راه‌های زیر با ما ارتباط برقرار کنید</p>
                        <ul>
                            <li><i class="fa fa-telegram"></i>شماره تلگرام :‌ 09119198904</li>
                        </ul>
                    </div>
                    <p class="allow">
                        <img id = 'jxlzjxlzjxlzjxlznbqejxlz' style = 'cursor:pointer' onclick = 'window.open("https://logo.samandehi.ir/Verify.aspx?id=111121&p=rfthrfthrfthrfthuiwkrfth", "Popup","toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=450, height=630, top=30")' alt = 'logo-samandehi' src = 'https://roocket.ir/img/samandehi.png' />
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="copy_right">
                کليه حقوق محصولات و محتوای اين سایت متعلق به راکت می باشد و هر گونه کپی برداری از محتوا و محصولات سایت غیر مجاز و بدون رضایت ماست
            </div>
            <div class="social_link">
                <a href="https://www.facebook.com/roocketi" rel="me"><i class="fa fa-facebook-square"></i></a>
                <a href="#" rel="me"><i class="fa fa-google"></i></a>
                <a href="https://www.instagram.com/roocketir/" rel="me"><i class="fa fa-instagram"></i></a>
                <a href="https://roocket.ir/feed/articles" rel="me"><i class="fa fa-rss-square"></i></a>
                <a href="https://twitter.com/roocketir" rel="me"><i class="fa fa-twitter-square"></i></a>
                <a href="https://t.me/roocket_ir" rel="me"><i class="fa fa-telegram"></i></a>
            </div>
        </div>
    </div>
</footer>
<!-- Scripts -->

<script type="text/javascript" src="/js/app.js?id=a61ad58b9d3fadcffc73"></script>
</body>
</html>
